/*
https://developer.mozilla.org/fr/docs/web/css/css_selectors
*/

.formulaire{
    display : flex;
    flex-direction: column;
    gap : 10px;
}

.nomPrenom{
    margin: 0px 10px 0px 10px;
}

.formulaire__2{
    display:flex;
    flex-direction: row;
    margin: 10px;

}
.formulaire input[type="text"]{
    background-color: rgba(255, 255, 255, .5);
}
.formulaire fieldset {
    background-color: rgba(255, 255, 255, .5);
    display : flex;
    gap: 10px;
}

.formulaire legend {
    font-size: 1.5rem;
    padding: 3px;
}
.formulaire .langage {
    display: flex;
    flex-direction: column;
}

/* sélecteur plus spécifique */
.form__nom{
    margin: 5px 0px 0px 0px;
}

.form__prenom {
    margin: 5px 0px 0px 0px;
}

#inscription__2{
    display: flex;
    flex-direction: column;
}

.formulaire__h3{
    margin: 10px 0px 0px 10px;
}

.formulaire__envoyer{
    display:flex;
    justify-content: center;
    border: 11px solid #fff;
    background-color: #fff;
    margin: 20px;
    text-decoration: none;
    color:black;
    
}

