/*
https://developer.mozilla.org/fr/docs/web/css/css_selectors
*/

.formulaire{
    display : flex;
    flex-direction: column;
    gap : 10px;
}

.formulaire__2 label:nth-of-type(1){
    margin: 14px;
}

.formulaire__2{
    margin-top: 10px;
}
.formulaire input[type="text"]{
    background-color: rgba(255, 255, 255, .5);
}
.formulaire fieldset {
    background-color: rgba(255, 255, 255, .5);
    display : flex;
    gap: 10px;
}

.formulaire legend {
    font-size: 1.5rem;
    padding: 3px;
}
.formulaire .langage {
    display: flex;
    flex-direction: column;
}

/* sélecteur plus spécifique */
.form__nom{
    margin: 0 0 10px 0;
}

.form__prenom {}
