.principal__video{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
    align-content: center;
    margin:0px 10px 10px 10px;
    justify-content: space-between;
    width: 50%;
    flex: 0 0 100%;
    font-family: 'Times New Roman', Times, serif;
    
}

.video__caption{
    
    bottom: 0;
}

.video__vid{
    /*position: absolute;*/
    top:0;
   
    width:100%;
}


.video__figure{
    position : relative;
    flex:0 1 200px;
    border: 11px dotted #fff;
    background-color: #fff;
    height : 354px;
    margin: 10px;
}

.video__section{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

